{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="page-wrap" style="max-width: 500px;">
  
        <div class="page-header">
            <h3 >Adjust Batch Stock</h3>
        </div>
        <div class="form-card">
            <div>
                <strong>Batch:</strong> {{ batch.batch_number }} <br>
                <strong>Variant:</strong> {{batch.variant.product.product_name}} {{ batch.variant }} <br>
                <strong>Available Stock:</strong> {{ batch.current_quantity|floatformat:3 }}
            </div>

            <form method="post">
                {% csrf_token %}
                
                <div class="form-field">
                    <label class="form-label fw-bold">Reason Code</label>
                    {{ form.reason_code }}
                </div>

                <div class="form-field">
                    <label class="form-label fw-bold">Quantity Change</label>
                    {{ form.quantity_change }}
                    <div class="form-text text-muted">
                        Use negative numbers (e.g., <code>-2.500</code>) for damage/loss or positive numbers (e.g., <code>1.000</code>) for additions.
                    </div>
                </div>

                <div class="form-field">
                    <label class="form-label fw-bold">Notes / Audit Log</label>
                    {{ form.notes }}
                </div>

                <div style="display: flex; justify-content: flex-end; gap: 0.75rem;">
                    <a href="{% url 'stock_list' %}" class="form-btn btn-add-variant">Cancel</a>
                    <button type="submit" class="form-btn btn-delete-variant">Save Adjustment</button>
                </div>
            </form>
        </div>
    
</div>
{% endblock %}