{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/master.css' %}" />
<div class="master-container">
  <div class="sticky-header-panel">
    <div class="filter-bar">
      <h3>{{ title }}</h3> 
      <a href="{% url 'crm_reports' %}?type=spending" class="btn btn-secondary"
        >Spending</a
      >
      <a
        href="{% url 'crm_reports' %}?type=transactions"
        class="btn btn-secondary"
        >Transactions</a
      >
      
    </div>
  </div>
  <div class="scrollable-table-card">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Customer</th>
          <th>Type</th>
          <th>Transactions</th>
          <th>Total Spending</th>
          <th>Average Bill</th>
          <th>Membership</th>
          <th>Loyalty Scheme</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer.customer_code }}</td>
          <td >
            <a href="{% url 'customer_profile' customer.pk %} " class="invoice-link"
              >{{ customer.customer_name }}</a
            >
          </td>
          <td>{{ customer.get_customer_type_display }}</td>
          <td>
            {% if report_type == 'transactions' %}{{customer.report_transactions }}{% else %}{{customer.transaction_count }}{% endif %}
          </td>
          <td>{{ customer.total_spending }}</td>
          <td>{{ customer.average_bill }}</td>
          <td>
            {% if report_type == 'membership' %}{{customer.report_active_memberships }}/{{ customer.report_memberships}}{% elif customer.is_member %}Active{% else %}None{% endif %}
          </td>
          <td>{{ customer.current_scheme|default:'-' }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8">No customer data found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- FIXED BOTTOM PAGINATION -->
    <div class="pagination-footer">

        <div>
            Total {{ page_obj.paginator.count|default:customers|length }} records
        </div>

        {% if is_paginated %}
        <ul class="pagination">

            <!-- Previous -->
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
            {% endif %}

            <!-- First Page -->
            {% if page_obj.number > 3 %}
                <li>
                    <a href="?page=1">1</a>
                </li>

                {% if page_obj.number > 4 %}
                    <li class="pagination-dots">
                        <span>...</span>
                    </li>
                {% endif %}
            {% endif %}


            <!-- Pages around current page -->
            {% for num in page_obj.paginator.page_range %}

                {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}

                    {% if page_obj.number == num %}
                        <li class="active">
                            <span>{{ num }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}

                {% endif %}

            {% endfor %}


            <!-- Last Page -->
            {% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}

                {% if page_obj.number < page_obj.paginator.num_pages|add:"-3" %}
                    <li class="pagination-dots">
                        <span>...</span>
                    </li>
                {% endif %}

                <li>
                    <a href="?page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                </li>

            {% endif %}


            <!-- Next -->
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                </li>
            {% endif %}

        </ul>
        {% endif %}

    </div>
</div>
{% endblock %}
