{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="page-wrap" style="width: 300px;">
    <h2>Register Membership — {{ customer.customer_name }}</h2>
    <form method="post" novalidate>
        <div class="form-card">
        {% csrf_token %}
        {{ form.as_p }}
        </div>
        <div style="display: flex; justify-content: flex-end; gap: 0.75rem;">
        <a href="{% url 'customer_profile' customer.pk %}" class="from-btn btn-delete-variant">Cancel</a>
        <button type="submit" class="form-btn btn-add-variant">Save</button>
        </div>
    </form>
</div>
{% endblock %}