{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="page-wrap" style="max-width: 500px;">
                <div class="page-header ">
                    <h4 class="mb-0">{% if object %}Edit Supplier: {{ object.supplier_name }}{% else %}Add New Supplier{% endif %}</h4>
                </div>
                <div class="form-card">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        <h5>Basic Information</h5>
                        <div class="form-group">
                            <label class="form-label">Supplier Name *</label>
                            {{ form.supplier_name }}
                            {{ form.supplier_name.errors }}
                        </div>

                        <div class="form-group">
                            <div class="form-field">
                                <label class="form-label">Contact Person</label>
                                {{ form.contact_person }}
                            </div>
                            <div class="form-field">
                                <label class=>Email Address *</label>
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="from-field">
                                <label >Phone Number</label>
                                {{ form.phone }}
                            </div>
                            <div class="from-field">
                                <label class="form-label">PAN / VAT Number</label>
                                {{ form.pan_vat_number }}
                            </div>
                        </div>

                        
                        <div class="form-group form-check-group">
                           
                            <label class="form-check-label" for="{{ form.is_organic_certified.id_for_label }}">
                            {{ form.is_organic_certified }}
                            Is Organic / Eco Certified Supplier?
                            </label>
                            
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label">Certification Details</label>
                            {{ form.certification_details }}
                        </div>

                        <div class="form-group">
                            <label class="form-label">Address</label>
                            {{ form.address }}
                        </div>

                        {% if not portal_account_exists %}
                        <hr>
                        <h5>Portal Access (Optional)</h5>

                        <div class="form-check form-check-group">
                            <label class="form-check-label" for="{{ form.create_portal_account.id_for_label }}">
                                {{ form.create_portal_account }}
                                Generate User Account for Supplier Portal Access
                            </label>
                        </div>

                        <div class="row form-group">
                            <div class="from-field">
                                <label class="form-label">Username</label>
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                            
                            <div class="from-field">
                                <label class="form-label">Password</label>
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                        </div>
                        {% endif %}

                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success">Save Supplier</button>
                        </div>
                    </form>
                </div>
          
       
    
</div>
{% endblock %}