{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/master.css' %}">
<div class="master-container">
    <div class="sticky-header-panel">
        <h2>Invoice # {{ sale.invoice_no }}</h2>
        <div>
            <button onclick="window.print()" class="btn btn-export"><i class="fa-solid fa-print"></i></button>
            <a href="{% url 'sales_list' %}" class="btn btn-outline-dark">Back to List</a>
        </div>
    </div>

    <div class="card ">
        <div class=stat-strip>
            <div class="stat-item">
                <p><strong class="stat-label">Customer:</strong> {{ sale.buyer_name }}</p>
                <p><strong class="stat-label">Date:</strong> {{ sale.sale_date|date:"d M Y" }}</p>
            </div>
            <div class="stat-item">
                <p><strong class="stat-label">Status:</strong> <span class="badge bg-success">{{ sale.payment_status }}</span></p>
                <p><strong class="stat-label">Cashier:</strong> {{ sale.user.username }}</p>
            </div>
        </div>
        
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="text-end">Qty</th>
                    <th class="text-end">Unit Price</th>
                    <th class="text-end">Discount</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sale.items.all %}
                <tr>
                    <td>{{ item.variant.product.product_name }} {{ item.variant.variant_name }}</td>
                    <td class="text-end">{{ item.quantity }}</td>
                    <td class="text-end">Rs. {{ item.unit_price }}</td>
                    <td class="text-end">Rs. {{ item.discount_amount }}</td>
                    <td class="text-end">Rs. {{ item.line_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="card">
            <div class="">
                <p><strong class="stat-label">Subtotal:</strong> Rs. {{ sale.subtotal }}</p>
                <p><strong class="stat-label">Total Discount:</strong> Rs. {{ sale.discount_total }}</p>
                <p><strong class="stat-label">Tax (VAT):</strong> Rs. {{ sale.vat_total }}</p>
                <h4><strong class="stat-label">Grand Total:</strong> Rs. {{ sale.grand_total }}</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}