{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="page-wrap" style="max-width: 400px;" >
    
        <div class="page-header bg-success text-white">
            <h4 class="mb-0"> Add Unit Details</h4>
        </div>
        <div class="form-card">
            
            <!-- 1. Display Non-Field / Form-Wide Errors -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" >
                {% csrf_token %}
                
                <div class="row">
                    <!-- Unit Name -->
                    <div class="form-field">
                        <label class="form-label font-weight-bold">Unit Name</label>
                        {{ form.unit_name }}
                        {% if form.unit_name.errors %}
                            <div class="text-danger small mt-1">
                                {{ form.unit_name.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Notation -->
                    <div class="form-field">
                        <label class="form-label font-weight-bold">Notation</label>
                        {{ form.notation }}
                        {% if form.notation.errors %}
                            <div class="text-danger small mt-1">
                                {{ form.notation.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Is Weight Based Checkbox -->
                    <div class="form-group form-check-group">
                            <label class="form-check-label font-weight-bold" for="{{ form.is_weight_based.id_for_label }}">
                                {{ form.is_weight_based }}
                                Is Weight Based? (Used for Catch-Weight produce)
                            </label>
                            {% if form.is_weight_based.errors %}
                            <div class="text-danger small mt-1">
                                {{ form.is_weight_based.errors.0 }}
                            </div>
                            {% endif %}
                    </div>
                    
                </div>

                <div class="form-actions">
                    <button type="submit" class="form-btn btn-primary ">Save Unit</button>
                    <a href="{% url 'uom_list' %}" class="form-btn btn-secondary ">Cancel</a>
                </div>
            </form>
        </div>
   
</div>
{% endblock %}